@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This web application is used to house a database of movies and display data such as; rating, genre, price and release date. 
    You may also select whether or not you've seen these movies. </p>
